@CHARSET "UTF-8";
@IMPORT url("default.css");

section.main div.body .display {
	text-align: left;
}

section.main div.body .content {
	padding: 10px;
}

section.main div.body .category {
	margin: 10px 0px;
	text-shadow: 2px 1px 3px lightgray;
}

section.main div.body .category label {
	margin-right: 10px;
}

section.main div.body .category a {
	text-decoration: none;
	color: blue;
}

section.main div.body .tags {
	text-shadow: 2px 1px 3px lightgray;
}

section.main div.body .tags label {
	margin-right: 10px;
}

section.main div.body .tags a {
	margin: 0px 5px;
	text-decoration: none;
	color: #FF5555;
}

section.main div.body .timestamp {
	font-size: 11px;
	color: gray;
	text-align: right;
	text-shadow: 1px 1px 3px lightgray;
}