@CHARSET "UTF-8";

* { font-family: "微软雅黑"; }
html, body { margin: 0; padding: 0; font-size: 13px; }

.backgroundDiv { position: fixed; top: 0; right: 0; left: 0; bottom: 0; z-index: -1; }
.iconAreaDiv { margin-left: 20px; }
.iconAreaDiv .iconDiv { width: 80px; height: 80px; text-align: center; padding: 5px; margin: 25px; border: 1px rgba(0, 0, 0, 0) solid; cursor: pointer; }
.iconAreaDiv .iconDiv:hover { border: 1px black solid; border-radius: 5px; background-color: rgba(0, 0, 0, 0.3); }
.iconAreaDiv .iconDiv .icon { width: 48px; height: 48px; margin: 5px auto; }
.iconAreaDiv .iconDiv .icon img { width: 48px; height: 48px; }
.iconAreaDiv .iconDiv .text { color: white; text-shadow: 2px 1px 2px black; }

.dialogContentDiv .categoriesDiv { width: 15%; height: 100%; float: left; overflow: scroll; overflow-x: hidden; }
.dialogContentDiv .categoriesDiv .category { width: 99%; height: 30px; border-left: 1px #5C9CCC solid; border-top: 1px #5C9CCC solid; border-bottom: 1px #5C9CCC solid; border-top-left-radius: 15px; border-bottom-left-radius: 15px; text-align: center; line-height: 30px; vertical-align: middle; cursor: pointer; transition: all 500ms; -webkit-transition: all 500ms; -moz-transition: all 500ms; -o-transition: all 500ms; }
.dialogContentDiv .categoriesDiv .category.active { background-color: #cce3f5; }

.dialogContentDiv .contentsDiv { position: relative; width: 85%; height: 100%; float: right; overflow: scroll; }
.dialogContentDiv .contentsDiv .content { position: absolute; width: 100%; height: 100%; top: 0; left: 0; opacity: 0; transition: all 500ms; -webkit-transition: all 500ms; -moz-transition: all 500ms; -o-transition: all 500ms; }
.dialogContentDiv .contentsDiv .content.active { opacity: 1; }

.dialogContentDiv .contentsDiv .content table {
	width: 100%;
	border-collapse: collapse;
	border: 1px gray solid;
}
.dialogContentDiv .contentsDiv .content table tr:nth-child(2n) {
	background-color: #EEEEFF;
}
.dialogContentDiv .contentsDiv .content table tr:nth-child(2n + 1) {
	background-color: #FFFFEE;
}
.dialogContentDiv .contentsDiv .content table th {
	border: 1px gray solid;
	padding: 5px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#efefef));
	background: -moz-linear-gradient(top,  #dddddd,  #efefef);
}
.dialogContentDiv .contentsDiv .content table td {
	border: 1px silver solid;
	padding: 5px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

#logManageDiv table {
	width: 100%;
	border-collapse: collapse;
	border: 1px gray solid;
}
#logManageDiv table tr:nth-child(2n) {
	background-color: #EEEEFF;
}
#logManageDiv table tr:nth-child(2n + 1) {
	background-color: #FFFFEE;
}
#logManageDiv table th {
	border: 1px gray solid;
	padding: 5px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	background: -webkit-gradient(linear, left top, left bottom, from(#dddddd), to(#efefef));
	background: -moz-linear-gradient(top,  #dddddd,  #efefef);
}
#logManageDiv table td {
	border: 1px silver solid;
	padding: 5px 10px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
}

#styleControlDiv .content {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}
#styleControlDiv .content select {
	width: 150px;
}
#styleControlDiv .content input[type="button"] {
	-moz-transition: all 500ms ease 0s;
    background: -moz-linear-gradient(center top , #FFEE66, #FFAA22) repeat scroll 0 0 transparent;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    height: 30px;
    margin-top: 20px;
    width: 80px;
}

.dialogContentDiv *::-webkit-scrollbar { width: 10px; height: 10px; }
.dialogContentDiv *::-webkit-scrollbar-track { box-shadow: inset 0 0 6px rgba(92, 156, 204, 1); border-radius: 10px; }
.dialogContentDiv *::-webkit-scrollbar-thumb { box-shadow: inset 0 0 6px rgba(75, 157, 218, 1); border-radius: 10px; }